# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env
.env.*

# Upload folder: keep folder, ignore its contents
backend/uploads/*
!backend/uploads/.gitkeep

# Next.js
frontend/node_modules/
frontend/.next/
frontend/out/
