USE [master]
drop database SmartDiaryDB_test

GO
/****** Object:  Database [SmartDiaryDB_test]    Script Date: 10/05/2026 11:55:47 ******/
CREATE DATABASE [SmartDiaryDB_test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmartDiaryDB_test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.VE_SERVER\MSSQL\DATA\SmartDiaryDB_test.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SmartDiaryDB_test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.VE_SERVER\MSSQL\DATA\SmartDiaryDB_test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartDiaryDB_test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartDiaryDB_test]
GO
/****** Object:  Table [dbo].[asset]    Script Date: 10/05/2026 11:55:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asset](
	[asset_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[note_id] [int] NULL,
	[category_id] [int] NULL,
	[name] [nvarchar](200) NOT NULL,
	[acquired_from] [nvarchar](200) NULL,
	[acquired_date] [date] NULL,
	[acquisition_type] [nvarchar](20) NULL,
	[weight_grams] [decimal](10, 2) NULL,
	[purchase_value] [decimal](12, 2) NULL,
	[current_value] [decimal](12, 2) NULL,
	[currency] [char](3) NULL,
	[is_zakatable] [bit] NULL,
	[purpose] [nvarchar](20) NULL,
	[is_tax_asset] [bit] NULL,
	[depreciation_rate] [decimal](5, 4) NULL,
	[location_id] [int] NULL,
	[notes] [nvarchar](500) NULL,
	[last_valuation_date] [date] NULL,
	[valuation_source] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[asset_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 10/05/2026 11:55:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](300) NULL,
	[is_zakatable] [bit] NULL,
	[default_depr_rate] [decimal](5, 4) NULL,
	[tax_relevant] [bit] NULL,
	[icon] [nvarchar](50) NULL,
	[color] [nvarchar](10) NULL,
	[sort_order] [int] NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_category_scope] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_net_worth]    Script Date: 10/05/2026 11:55:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ================================================================
-- VIEWS
-- ================================================================

-- Net worth by category
CREATE VIEW [dbo].[vw_net_worth] AS
SELECT a.user_id, c.name AS category_name, COUNT(*) AS item_count,
       SUM(a.current_value) AS total_value, a.currency
FROM asset a
LEFT JOIN category c ON c.category_id = a.category_id
WHERE a.is_active = 1 AND a.current_value IS NOT NULL
GROUP BY a.user_id, c.name, a.currency;

GO
/****** Object:  View [dbo].[vw_zakat_due]    Script Date: 10/05/2026 11:55:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Zakat due (owned 354+ days)
CREATE VIEW [dbo].[vw_zakat_due] AS
SELECT a.user_id, a.name, c.name AS category_name,
       a.current_value,
       ROUND(a.current_value * 0.025, 2) AS zakat_due,
       a.acquired_date,
       DATEDIFF(DAY, a.acquired_date, GETDATE()) AS days_owned,
       a.acquisition_type, a.currency
FROM asset a
LEFT JOIN category c ON c.category_id = a.category_id
WHERE a.is_zakatable = 1
  AND a.is_active = 1
  AND a.current_value IS NOT NULL
  AND a.acquired_date IS NOT NULL
  AND DATEDIFF(DAY, a.acquired_date, GETDATE()) >= 354;

GO
/****** Object:  Table [dbo].[zakat_nisab]    Script Date: 10/05/2026 11:55:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zakat_nisab](
	[zakat_nisab_id] [int] IDENTITY(1,1) NOT NULL,
	[year] [int] NOT NULL,
	[currency] [char](3) NOT NULL,
	[nisab_amount] [decimal](14, 2) NOT NULL,
	[gold_price_per_gram] [decimal](10, 2) NULL,
	[notes] [nvarchar](300) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[zakat_nisab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_nisab_year_currency] UNIQUE NONCLUSTERED 
(
	[year] ASC,
	[currency] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_zakat_summary]    Script Date: 10/05/2026 11:55:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Zakat summary with nisab check
CREATE VIEW [dbo].[vw_zakat_summary] AS
WITH total_per_user AS (
    SELECT user_id, currency, SUM(current_value) AS total_zakatable
    FROM asset
    WHERE is_zakatable = 1 AND is_active = 1 AND current_value IS NOT NULL
      AND acquired_date IS NOT NULL
      AND DATEDIFF(DAY, acquired_date, GETDATE()) >= 354
    GROUP BY user_id, currency
)
SELECT t.user_id,
       t.currency,
       t.total_zakatable,
       n.nisab_amount,
       CASE WHEN t.total_zakatable >= ISNULL(n.nisab_amount, 0)
            THEN ROUND(t.total_zakatable * 0.025, 2)
            ELSE 0 END AS zakat_due,
       n.year AS nisab_year
FROM total_per_user t
LEFT JOIN zakat_nisab n
       ON n.currency = t.currency
      AND n.year = YEAR(GETDATE());

GO
/****** Object:  View [dbo].[vw_tax_assets]    Script Date: 10/05/2026 11:55:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Tax assets with depreciation
CREATE VIEW [dbo].[vw_tax_assets] AS
SELECT a.user_id, a.name, c.name AS category_name, a.purpose,
       a.purchase_value, a.current_value,
       ROUND(a.current_value * a.depreciation_rate, 2) AS this_yr_depr,
       ROUND(a.current_value * (1 - a.depreciation_rate), 2) AS next_yr_value,
       a.acquired_date, a.depreciation_rate, a.currency
FROM asset a
LEFT JOIN category c ON c.category_id = a.category_id
WHERE a.is_tax_asset = 1 AND a.is_active = 1;

GO
/****** Object:  Table [dbo].[reminder]    Script Date: 10/05/2026 11:55:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reminder](
	[reminder_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[person_id] [int] NULL,
	[parent_event_instance_id] [int] NULL,
	[title] [nvarchar](200) NOT NULL,
	[description] [nvarchar](500) NULL,
	[reminder_datetime] [datetime] NOT NULL,
	[end_date] [date] NULL,
	[repeat_type] [nvarchar](20) NULL,
	[is_done] [bit] NULL,
	[is_auto_generated] [bit] NULL,
	[input_source] [nvarchar](10) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[reminder_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[person]    Script Date: 10/05/2026 11:55:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[person](
	[person_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[relation] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[notes] [nvarchar](300) NULL,
	[birth_date] [date] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_user_person] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[event_instance]    Script Date: 10/05/2026 11:55:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[event_instance](
	[event_instance_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[event_type] [nvarchar](30) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[description] [nvarchar](500) NULL,
	[event_date] [date] NOT NULL,
	[subject_person_id] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[event_instance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_upcoming_reminders]    Script Date: 10/05/2026 11:55:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Upcoming reminders (next 7 days)
CREATE VIEW [dbo].[vw_upcoming_reminders] AS
SELECT r.user_id, r.reminder_id, r.title, r.description,
       r.reminder_datetime, r.repeat_type, r.is_auto_generated,
       p.name AS person_name,
       e.title AS parent_event_title,
       DATEDIFF(DAY, GETDATE(), r.reminder_datetime) AS days_until
FROM reminder r
LEFT JOIN person         p ON p.person_id = r.person_id
LEFT JOIN event_instance e ON e.event_instance_id = r.parent_event_instance_id
WHERE r.is_done = 0
  AND r.is_active = 1
  AND r.reminder_datetime >= GETDATE()
  AND DATEDIFF(DAY, GETDATE(), r.reminder_datetime) <= 7;

GO
/****** Object:  Table [dbo].[timetable]    Script Date: 10/05/2026 11:55:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[timetable](
	[timetable_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[activity_type] [nvarchar](30) NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[recurrence] [nvarchar](20) NULL,
	[days_of_week] [nvarchar](20) NULL,
	[priority] [int] NULL,
	[notes] [nvarchar](500) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[timetable_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_today_timetable]    Script Date: 10/05/2026 11:55:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Today's timetable
CREATE VIEW [dbo].[vw_today_timetable] AS
SELECT t.user_id, t.timetable_id, t.title, t.activity_type,
       t.start_time, t.end_time, t.priority, t.recurrence
FROM timetable t
WHERE t.is_active = 1
  AND (
        t.recurrence = 'Daily'
     OR (t.recurrence = 'Weekdays' AND DATEPART(WEEKDAY, GETDATE()) BETWEEN 2 AND 6)
     OR (t.recurrence = 'Weekends' AND DATEPART(WEEKDAY, GETDATE()) IN (1, 7))
     OR (t.recurrence = 'Custom'
         AND t.days_of_week LIKE '%' + LEFT(DATENAME(WEEKDAY, GETDATE()), 3) + '%')
  );

GO
/****** Object:  Table [dbo].[activity_log]    Script Date: 10/05/2026 11:55:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activity_log](
	[activity_log_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[timetable_id] [int] NULL,
	[reminder_id] [int] NULL,
	[scheduled_date] [date] NOT NULL,
	[scheduled_start] [time](7) NULL,
	[status] [nvarchar](20) NOT NULL,
	[completed_at] [datetime] NULL,
	[duration_minutes] [int] NULL,
	[notes] [nvarchar](300) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[activity_log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_alog_reminder] UNIQUE NONCLUSTERED 
(
	[reminder_id] ASC,
	[scheduled_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_alog_timetable] UNIQUE NONCLUSTERED 
(
	[timetable_id] ASC,
	[scheduled_date] ASC,
	[scheduled_start] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_completion_ratio]    Script Date: 10/05/2026 11:55:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Daily completion ratio (last 30 days)
CREATE VIEW [dbo].[vw_completion_ratio] AS
SELECT a.user_id,
       a.scheduled_date,
       COUNT(*) AS total,
       SUM(CASE WHEN a.status = 'done' THEN 1 ELSE 0 END) AS completed,
       SUM(CASE WHEN a.status = 'missed' THEN 1 ELSE 0 END) AS missed,
       CAST(SUM(CASE WHEN a.status = 'done' THEN 1 ELSE 0 END) AS FLOAT)
         / NULLIF(COUNT(*), 0) AS ratio
FROM activity_log a
WHERE a.scheduled_date >= DATEADD(DAY, -30, GETDATE())
GROUP BY a.user_id, a.scheduled_date;

GO
/****** Object:  Table [dbo].[attachment]    Script Date: 10/05/2026 11:55:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attachment](
	[attachment_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[note_id] [int] NULL,
	[original_filename] [nvarchar](300) NOT NULL,
	[file_type] [nvarchar](10) NOT NULL,
	[file_path] [nvarchar](500) NOT NULL,
	[file_size_kb] [int] NULL,
	[file_hash] [varbinary](32) NULL,
	[mime_type] [varchar](100) NULL,
	[extraction_status] [nvarchar](20) NULL,
	[extracted_text] [nvarchar](max) NULL,
	[extracted_at] [datetime] NULL,
	[extraction_error] [nvarchar](500) NULL,
	[summary] [nvarchar](1000) NULL,
	[page_count] [int] NULL,
	[word_count] [int] NULL,
	[action_type] [nvarchar](20) NULL,
	[uploaded_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[attachment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_attachment_queue]    Script Date: 10/05/2026 11:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Pending attachment extractions
CREATE VIEW [dbo].[vw_attachment_queue] AS
SELECT attachment_id, user_id, original_filename, file_type,
       extraction_status, uploaded_at
FROM attachment
WHERE extraction_status IN ('pending','failed') AND is_active = 1;

GO
/****** Object:  Table [dbo].[predicate_vocab]    Script Date: 10/05/2026 11:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[predicate_vocab](
	[predicate_id] [int] IDENTITY(1,1) NOT NULL,
	[predicate_text] [nvarchar](100) NOT NULL,
	[predicate_alias] [nvarchar](500) NULL,
	[predicate_category] [nvarchar](50) NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[predicate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_predicate_text] UNIQUE NONCLUSTERED 
(
	[predicate_text] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[knowledge_triple]    Script Date: 10/05/2026 11:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[knowledge_triple](
	[triple_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[source_note_id] [int] NULL,
	[source_voice_id] [int] NULL,
	[source_attachment_id] [int] NULL,
	[source_event_instance_id] [int] NULL,
	[subject_text] [nvarchar](200) NOT NULL,
	[subject_type] [varchar](50) NULL,
	[subject_id] [int] NULL,
	[predicate_id] [int] NULL,
	[predicate] [nvarchar](100) NOT NULL,
	[object_text] [nvarchar](500) NOT NULL,
	[object_type] [varchar](50) NULL,
	[object_id] [int] NULL,
	[confidence] [decimal](5, 4) NULL,
	[context_group] [nvarchar](100) NULL,
	[extraction_model] [nvarchar](50) NULL,
	[is_verified] [bit] NULL,
	[verified_at] [datetime] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[triple_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_triple] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[subject_text] ASC,
	[predicate] ASC,
	[object_text] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_knowledge_graph]    Script Date: 10/05/2026 11:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Knowledge graph with resolved predicate category
CREATE VIEW [dbo].[vw_knowledge_graph] AS
SELECT
    kt.triple_id, kt.user_id,
    kt.subject_text, kt.subject_type,
    kt.predicate, pv.predicate_category,
    kt.object_text, kt.object_type,
    kt.confidence, kt.context_group, kt.is_verified, kt.created_at,
    CASE
        WHEN kt.source_note_id            IS NOT NULL THEN 'note'
        WHEN kt.source_voice_id           IS NOT NULL THEN 'voice'
        WHEN kt.source_attachment_id      IS NOT NULL THEN 'attachment'
        WHEN kt.source_event_instance_id  IS NOT NULL THEN 'event'
        ELSE 'unknown'
    END AS source_type,
    COALESCE(kt.source_note_id, kt.source_voice_id, kt.source_attachment_id, kt.source_event_instance_id) AS source_id
FROM knowledge_triple kt
LEFT JOIN predicate_vocab pv ON pv.predicate_id = kt.predicate_id
WHERE kt.is_active = 1;

GO
/****** Object:  View [dbo].[vw_knowledge_pending_review]    Script Date: 10/05/2026 11:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Unverified triples needing review
CREATE VIEW [dbo].[vw_knowledge_pending_review] AS
SELECT kt.triple_id, kt.user_id,
       kt.subject_text, kt.predicate, kt.object_text,
       kt.confidence, kt.context_group, kt.created_at
FROM knowledge_triple kt
WHERE kt.is_verified = 0
  AND kt.is_active   = 1
  AND (kt.confidence IS NULL OR kt.confidence < 0.75);

GO
/****** Object:  Table [dbo].[note_transaction]    Script Date: 10/05/2026 11:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[note_transaction](
	[txn_id] [int] IDENTITY(1,1) NOT NULL,
	[note_id] [int] NOT NULL,
	[sender_person_id] [int] NULL,
	[receiver_person_id] [int] NULL,
	[amount] [decimal](12, 2) NOT NULL,
	[currency] [char](3) NOT NULL,
	[category_id] [int] NULL,
	[notes] [nvarchar](500) NULL,
	[created_at] [datetime] NULL,
	[is_active] [bit] NULL,
	[event_context] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[txn_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[note]    Script Date: 10/05/2026 11:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[note](
	[note_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[title] [nvarchar](200) NULL,
	[description] [nvarchar](4000) NULL,
	[note_type] [nvarchar](20) NULL,
	[category_id] [int] NULL,
	[person_id] [int] NULL,
	[location_id] [int] NULL,
	[note_date] [date] NULL,
	[event_instance_id] [int] NULL,
	[input_source] [nvarchar](10) NULL,
	[sentiment] [nvarchar](20) NULL,
	[is_processed] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[note_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_zakat_paid]    Script Date: 10/05/2026 11:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_zakat_paid] AS
SELECT n.user_id,
       YEAR(n.note_date)   AS zakat_year,
       COUNT(*)            AS payment_count,
       SUM(t.amount)       AS total_paid,
       t.currency,
       MIN(n.note_date)    AS first_payment,
       MAX(n.note_date)    AS last_payment
FROM note_transaction t
JOIN note     n ON n.note_id = t.note_id
JOIN category c ON c.category_id = COALESCE(t.category_id, n.category_id)
WHERE c.name = 'Zakat'
  AND t.sender_person_id IS NULL -- App User gave the money
  AND t.is_active = 1
  AND n.is_active = 1
GROUP BY n.user_id, YEAR(n.note_date), t.currency;
GO
/****** Object:  View [dbo].[vw_transaction_summary]    Script Date: 10/05/2026 11:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_transaction_summary] AS
SELECT n.user_id,
       c.name AS category_name,
       CASE 
           WHEN t.sender_person_id IS NULL THEN 'given'
           WHEN t.receiver_person_id IS NULL THEN 'received'
           ELSE 'third_party' 
       END AS direction,
       COUNT(*)      AS transaction_count,
       SUM(t.amount) AS total_amount,
       t.currency
FROM note_transaction t
JOIN note n       ON n.note_id = t.note_id
LEFT JOIN category c ON c.category_id = COALESCE(t.category_id, n.category_id)
WHERE t.is_active = 1 AND n.is_active = 1
GROUP BY 
    n.user_id, 
    c.name, 
    CASE 
        WHEN t.sender_person_id IS NULL THEN 'given'
        WHEN t.receiver_person_id IS NULL THEN 'received'
        ELSE 'third_party' 
    END, 
    t.currency;
GO
/****** Object:  View [dbo].[vw_give_receive]    Script Date: 10/05/2026 11:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_give_receive] AS
SELECT n.user_id,
       SUM(CASE WHEN t.sender_person_id IS NULL THEN t.amount ELSE 0 END) AS total_given,
       SUM(CASE WHEN t.receiver_person_id IS NULL THEN t.amount ELSE 0 END) AS total_received,
       t.currency
FROM note_transaction t
JOIN note n ON n.note_id = t.note_id
WHERE t.is_active = 1 AND n.is_active = 1
GROUP BY n.user_id, t.currency;
GO
/****** Object:  Table [dbo].[ai_query_log]    Script Date: 10/05/2026 11:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ai_query_log](
	[query_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[question] [nvarchar](2000) NOT NULL,
	[answer] [nvarchar](max) NULL,
	[input_source] [nvarchar](10) NULL,
	[confidence] [decimal](5, 2) NULL,
	[session_id] [uniqueidentifier] NULL,
	[parent_query_id] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[query_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[app_user]    Script Date: 10/05/2026 11:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[app_user](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[password_hash] [varbinary](256) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[last_login] [datetime] NULL,
	[is_active] [bit] NULL,
	[language] [nvarchar](10) NULL,
	[timezone] [nvarchar](50) NULL,
	[profile_notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[audio_action]    Script Date: 10/05/2026 11:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audio_action](
	[audio_action_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[audio_name] [nvarchar](200) NOT NULL,
	[playback_mode] [nvarchar](20) NOT NULL,
	[file_path] [nvarchar](500) NULL,
	[file_size_kb] [int] NULL,
	[duration_sec] [int] NULL,
	[surah_name] [nvarchar](100) NULL,
	[ayat_from] [int] NULL,
	[ayat_to] [int] NULL,
	[play_datetime] [datetime] NULL,
	[repeat_type] [nvarchar](20) NULL,
	[is_active_schedule] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[audio_action_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[currency]    Script Date: 10/05/2026 11:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[currency](
	[code] [char](3) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[location]    Script Date: 10/05/2026 11:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[location](
	[location_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[parent_location_id] [int] NULL,
	[full_path] [nvarchar](500) NULL,
	[depth] [int] NULL,
	[additional_info] [nvarchar](300) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[note_tag]    Script Date: 10/05/2026 11:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[note_tag](
	[note_id] [int] NOT NULL,
	[tag_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[note_id] ASC,
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stored_item]    Script Date: 10/05/2026 11:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stored_item](
	[stored_item_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[item_name] [nvarchar](200) NOT NULL,
	[category] [nvarchar](50) NULL,
	[location_id] [int] NULL,
	[location_text] [nvarchar](300) NULL,
	[description] [nvarchar](500) NULL,
	[input_source] [nvarchar](10) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[stored_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tag]    Script Date: 10/05/2026 11:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tag](
	[tag_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_settings]    Script Date: 10/05/2026 11:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_settings](
	[user_id] [int] NOT NULL,
	[font_size] [int] NULL,
	[audio_speed] [decimal](3, 1) NULL,
	[theme] [nvarchar](20) NULL,
	[tts_enabled] [bit] NULL,
	[tts_voice] [nvarchar](50) NULL,
	[tts_language] [nvarchar](10) NULL,
	[notifications_enabled] [bit] NULL,
	[confirm_financial] [bit] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[voice_entry]    Script Date: 10/05/2026 11:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voice_entry](
	[voice_entry_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[audio_path] [nvarchar](500) NULL,
	[transcript] [nvarchar](max) NULL,
	[intent] [nvarchar](20) NULL,
	[target_entity] [nvarchar](20) NULL,
	[entities_json] [nvarchar](4000) NULL,
	[confidence] [decimal](5, 2) NULL,
	[duration_sec] [int] NULL,
	[model_used] [nvarchar](50) NULL,
	[awaiting_confirm] [bit] NULL,
	[confirmed] [bit] NULL,
	[created_note_id] [int] NULL,
	[created_reminder_id] [int] NULL,
	[created_asset_id] [int] NULL,
	[created_stored_item_id] [int] NULL,
	[created_event_instance_id] [int] NULL,
	[created_at] [datetime] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[voice_entry_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [ix_alog_reminder]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_alog_reminder] ON [dbo].[activity_log]
(
	[reminder_id] ASC,
	[scheduled_date] ASC
)
WHERE ([reminder_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_alog_status]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_alog_status] ON [dbo].[activity_log]
(
	[user_id] ASC,
	[status] ASC,
	[scheduled_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_alog_timetable]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_alog_timetable] ON [dbo].[activity_log]
(
	[timetable_id] ASC,
	[scheduled_date] ASC
)
WHERE ([timetable_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_alog_user]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_alog_user] ON [dbo].[activity_log]
(
	[user_id] ASC,
	[scheduled_date] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_aiquery_user]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_aiquery_user] ON [dbo].[ai_query_log]
(
	[user_id] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_appuser_email]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_appuser_email] ON [dbo].[app_user]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_asset_category]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_asset_category] ON [dbo].[asset]
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_asset_type]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_asset_type] ON [dbo].[asset]
(
	[user_id] ASC,
	[acquisition_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_asset_user]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_asset_user] ON [dbo].[asset]
(
	[user_id] ASC,
	[is_active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_asset_zakat]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_asset_zakat] ON [dbo].[asset]
(
	[user_id] ASC,
	[is_zakatable] ASC,
	[acquired_date] ASC
)
WHERE ([is_active]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_attach_status]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_attach_status] ON [dbo].[attachment]
(
	[user_id] ASC,
	[extraction_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_attach_user]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_attach_user] ON [dbo].[attachment]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_audio_schedule]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_audio_schedule] ON [dbo].[audio_action]
(
	[user_id] ASC,
	[play_datetime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_audio_user]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_audio_user] ON [dbo].[audio_action]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_category_user]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_category_user] ON [dbo].[category]
(
	[user_id] ASC
)
WHERE ([user_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_event_type]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_event_type] ON [dbo].[event_instance]
(
	[user_id] ASC,
	[event_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_event_user]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_event_user] ON [dbo].[event_instance]
(
	[user_id] ASC,
	[event_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_ktriple_context]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_ktriple_context] ON [dbo].[knowledge_triple]
(
	[user_id] ASC,
	[context_group] ASC
)
WHERE ([context_group] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_ktriple_event]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_ktriple_event] ON [dbo].[knowledge_triple]
(
	[source_event_instance_id] ASC
)
WHERE ([source_event_instance_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_ktriple_obj_text]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_ktriple_obj_text] ON [dbo].[knowledge_triple]
(
	[user_id] ASC,
	[object_text] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_ktriple_object]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_ktriple_object] ON [dbo].[knowledge_triple]
(
	[user_id] ASC,
	[object_type] ASC,
	[object_id] ASC
)
WHERE ([object_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_ktriple_predicate]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_ktriple_predicate] ON [dbo].[knowledge_triple]
(
	[user_id] ASC,
	[predicate_id] ASC,
	[predicate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_ktriple_subj_text]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_ktriple_subj_text] ON [dbo].[knowledge_triple]
(
	[user_id] ASC,
	[subject_text] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_ktriple_subject]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_ktriple_subject] ON [dbo].[knowledge_triple]
(
	[user_id] ASC,
	[subject_type] ASC,
	[subject_id] ASC
)
WHERE ([subject_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_ktriple_unverified]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_ktriple_unverified] ON [dbo].[knowledge_triple]
(
	[user_id] ASC,
	[is_verified] ASC,
	[confidence] ASC
)
WHERE ([is_active]=(1) AND [is_verified]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_ktriple_user]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_ktriple_user] ON [dbo].[knowledge_triple]
(
	[user_id] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_location_parent]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_location_parent] ON [dbo].[location]
(
	[parent_location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_location_user]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_location_user] ON [dbo].[location]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_note_category]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_note_category] ON [dbo].[note]
(
	[user_id] ASC,
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_note_date]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_note_date] ON [dbo].[note]
(
	[user_id] ASC,
	[note_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_note_event]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_note_event] ON [dbo].[note]
(
	[event_instance_id] ASC
)
WHERE ([event_instance_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_note_person]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_note_person] ON [dbo].[note]
(
	[person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_note_type]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_note_type] ON [dbo].[note]
(
	[user_id] ASC,
	[note_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_note_user]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_note_user] ON [dbo].[note]
(
	[user_id] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_notetag_tag]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_notetag_tag] ON [dbo].[note_tag]
(
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_txn_category]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_txn_category] ON [dbo].[note_transaction]
(
	[category_id] ASC
)
WHERE ([is_active]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_txn_note]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_txn_note] ON [dbo].[note_transaction]
(
	[note_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_txn_receiver]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_txn_receiver] ON [dbo].[note_transaction]
(
	[receiver_person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_txn_sender]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_txn_sender] ON [dbo].[note_transaction]
(
	[sender_person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_person_user]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_person_user] ON [dbo].[person]
(
	[user_id] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_predvocab_category]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_predvocab_category] ON [dbo].[predicate_vocab]
(
	[predicate_category] ASC
)
WHERE ([is_active]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_reminder_done]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_reminder_done] ON [dbo].[reminder]
(
	[user_id] ASC,
	[is_done] ASC,
	[is_active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_reminder_parent]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_reminder_parent] ON [dbo].[reminder]
(
	[parent_event_instance_id] ASC
)
WHERE ([parent_event_instance_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_reminder_person]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_reminder_person] ON [dbo].[reminder]
(
	[person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_reminder_user]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_reminder_user] ON [dbo].[reminder]
(
	[user_id] ASC,
	[reminder_datetime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_storeditem_cat]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_storeditem_cat] ON [dbo].[stored_item]
(
	[user_id] ASC,
	[category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_storeditem_user]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_storeditem_user] ON [dbo].[stored_item]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_timetable_time]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_timetable_time] ON [dbo].[timetable]
(
	[user_id] ASC,
	[start_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_timetable_user]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_timetable_user] ON [dbo].[timetable]
(
	[user_id] ASC,
	[is_active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_voice_pending]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_voice_pending] ON [dbo].[voice_entry]
(
	[user_id] ASC,
	[awaiting_confirm] ASC
)
WHERE ([awaiting_confirm]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_voice_user]    Script Date: 10/05/2026 11:55:48 ******/
CREATE NONCLUSTERED INDEX [ix_voice_user] ON [dbo].[voice_entry]
(
	[user_id] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[activity_log] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[activity_log] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ai_query_log] ADD  DEFAULT ('text') FOR [input_source]
GO
ALTER TABLE [dbo].[ai_query_log] ADD  DEFAULT (newid()) FOR [session_id]
GO
ALTER TABLE [dbo].[ai_query_log] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[app_user] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[app_user] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[app_user] ADD  DEFAULT ('en') FOR [language]
GO
ALTER TABLE [dbo].[app_user] ADD  DEFAULT ('Asia/Karachi') FOR [timezone]
GO
ALTER TABLE [dbo].[asset] ADD  DEFAULT ('purchased') FOR [acquisition_type]
GO
ALTER TABLE [dbo].[asset] ADD  DEFAULT ('PKR') FOR [currency]
GO
ALTER TABLE [dbo].[asset] ADD  DEFAULT ((0)) FOR [is_zakatable]
GO
ALTER TABLE [dbo].[asset] ADD  DEFAULT ('personal') FOR [purpose]
GO
ALTER TABLE [dbo].[asset] ADD  DEFAULT ((1)) FOR [is_tax_asset]
GO
ALTER TABLE [dbo].[asset] ADD  DEFAULT ((0)) FOR [depreciation_rate]
GO
ALTER TABLE [dbo].[asset] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[asset] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[attachment] ADD  DEFAULT ('pending') FOR [extraction_status]
GO
ALTER TABLE [dbo].[attachment] ADD  DEFAULT (getdate()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[attachment] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[audio_action] ADD  DEFAULT ('custom') FOR [playback_mode]
GO
ALTER TABLE [dbo].[audio_action] ADD  DEFAULT ('None') FOR [repeat_type]
GO
ALTER TABLE [dbo].[audio_action] ADD  DEFAULT ((1)) FOR [is_active_schedule]
GO
ALTER TABLE [dbo].[audio_action] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[audio_action] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[category] ADD  DEFAULT ((0)) FOR [is_zakatable]
GO
ALTER TABLE [dbo].[category] ADD  DEFAULT ((0)) FOR [default_depr_rate]
GO
ALTER TABLE [dbo].[category] ADD  DEFAULT ((0)) FOR [tax_relevant]
GO
ALTER TABLE [dbo].[category] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[category] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[category] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[event_instance] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[event_instance] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[knowledge_triple] ADD  DEFAULT ((0)) FOR [is_verified]
GO
ALTER TABLE [dbo].[knowledge_triple] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[knowledge_triple] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[location] ADD  DEFAULT ((0)) FOR [depth]
GO
ALTER TABLE [dbo].[location] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[location] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[note] ADD  DEFAULT ('general') FOR [note_type]
GO
ALTER TABLE [dbo].[note] ADD  DEFAULT ('manual') FOR [input_source]
GO
ALTER TABLE [dbo].[note] ADD  DEFAULT ((0)) FOR [is_processed]
GO
ALTER TABLE [dbo].[note] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[note] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[note_transaction] ADD  DEFAULT ('PKR') FOR [currency]
GO
ALTER TABLE [dbo].[note_transaction] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[note_transaction] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[person] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[person] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[predicate_vocab] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[reminder] ADD  DEFAULT ('None') FOR [repeat_type]
GO
ALTER TABLE [dbo].[reminder] ADD  DEFAULT ((0)) FOR [is_done]
GO
ALTER TABLE [dbo].[reminder] ADD  DEFAULT ((0)) FOR [is_auto_generated]
GO
ALTER TABLE [dbo].[reminder] ADD  DEFAULT ('manual') FOR [input_source]
GO
ALTER TABLE [dbo].[reminder] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[reminder] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[stored_item] ADD  DEFAULT ('manual') FOR [input_source]
GO
ALTER TABLE [dbo].[stored_item] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[stored_item] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[timetable] ADD  DEFAULT ('Daily') FOR [recurrence]
GO
ALTER TABLE [dbo].[timetable] ADD  DEFAULT ((2)) FOR [priority]
GO
ALTER TABLE [dbo].[timetable] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[timetable] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_settings] ADD  DEFAULT ((14)) FOR [font_size]
GO
ALTER TABLE [dbo].[user_settings] ADD  DEFAULT ((1.0)) FOR [audio_speed]
GO
ALTER TABLE [dbo].[user_settings] ADD  DEFAULT ('light') FOR [theme]
GO
ALTER TABLE [dbo].[user_settings] ADD  DEFAULT ((1)) FOR [tts_enabled]
GO
ALTER TABLE [dbo].[user_settings] ADD  DEFAULT ('en') FOR [tts_language]
GO
ALTER TABLE [dbo].[user_settings] ADD  DEFAULT ((1)) FOR [notifications_enabled]
GO
ALTER TABLE [dbo].[user_settings] ADD  DEFAULT ((1)) FOR [confirm_financial]
GO
ALTER TABLE [dbo].[voice_entry] ADD  DEFAULT ((0)) FOR [awaiting_confirm]
GO
ALTER TABLE [dbo].[voice_entry] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[voice_entry] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[zakat_nisab] ADD  DEFAULT ('PKR') FOR [currency]
GO
ALTER TABLE [dbo].[zakat_nisab] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[activity_log]  WITH CHECK ADD FOREIGN KEY([reminder_id])
REFERENCES [dbo].[reminder] ([reminder_id])
GO
ALTER TABLE [dbo].[activity_log]  WITH CHECK ADD FOREIGN KEY([timetable_id])
REFERENCES [dbo].[timetable] ([timetable_id])
GO
ALTER TABLE [dbo].[activity_log]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[app_user] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ai_query_log]  WITH CHECK ADD FOREIGN KEY([parent_query_id])
REFERENCES [dbo].[ai_query_log] ([query_id])
GO
ALTER TABLE [dbo].[ai_query_log]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[app_user] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[asset]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([category_id])
GO
ALTER TABLE [dbo].[asset]  WITH CHECK ADD FOREIGN KEY([currency])
REFERENCES [dbo].[currency] ([code])
GO
ALTER TABLE [dbo].[asset]  WITH CHECK ADD FOREIGN KEY([location_id])
REFERENCES [dbo].[location] ([location_id])
GO
ALTER TABLE [dbo].[asset]  WITH CHECK ADD FOREIGN KEY([note_id])
REFERENCES [dbo].[note] ([note_id])
GO
ALTER TABLE [dbo].[asset]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[app_user] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[attachment]  WITH CHECK ADD FOREIGN KEY([note_id])
REFERENCES [dbo].[note] ([note_id])
GO
ALTER TABLE [dbo].[attachment]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[app_user] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[audio_action]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[app_user] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[category]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[app_user] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[event_instance]  WITH CHECK ADD FOREIGN KEY([subject_person_id])
REFERENCES [dbo].[person] ([person_id])
GO
ALTER TABLE [dbo].[event_instance]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[app_user] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[knowledge_triple]  WITH CHECK ADD  CONSTRAINT [fk_triple_attachment] FOREIGN KEY([source_attachment_id])
REFERENCES [dbo].[attachment] ([attachment_id])
GO
ALTER TABLE [dbo].[knowledge_triple] CHECK CONSTRAINT [fk_triple_attachment]
GO
ALTER TABLE [dbo].[knowledge_triple]  WITH CHECK ADD  CONSTRAINT [fk_triple_event] FOREIGN KEY([source_event_instance_id])
REFERENCES [dbo].[event_instance] ([event_instance_id])
GO
ALTER TABLE [dbo].[knowledge_triple] CHECK CONSTRAINT [fk_triple_event]
GO
ALTER TABLE [dbo].[knowledge_triple]  WITH CHECK ADD  CONSTRAINT [fk_triple_note] FOREIGN KEY([source_note_id])
REFERENCES [dbo].[note] ([note_id])
GO
ALTER TABLE [dbo].[knowledge_triple] CHECK CONSTRAINT [fk_triple_note]
GO
ALTER TABLE [dbo].[knowledge_triple]  WITH CHECK ADD  CONSTRAINT [fk_triple_predicate] FOREIGN KEY([predicate_id])
REFERENCES [dbo].[predicate_vocab] ([predicate_id])
GO
ALTER TABLE [dbo].[knowledge_triple] CHECK CONSTRAINT [fk_triple_predicate]
GO
ALTER TABLE [dbo].[knowledge_triple]  WITH CHECK ADD  CONSTRAINT [fk_triple_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[app_user] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[knowledge_triple] CHECK CONSTRAINT [fk_triple_user]
GO
ALTER TABLE [dbo].[knowledge_triple]  WITH CHECK ADD  CONSTRAINT [fk_triple_voice] FOREIGN KEY([source_voice_id])
REFERENCES [dbo].[voice_entry] ([voice_entry_id])
GO
ALTER TABLE [dbo].[knowledge_triple] CHECK CONSTRAINT [fk_triple_voice]
GO
ALTER TABLE [dbo].[location]  WITH CHECK ADD FOREIGN KEY([parent_location_id])
REFERENCES [dbo].[location] ([location_id])
GO
ALTER TABLE [dbo].[location]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[app_user] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[note]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([category_id])
GO
ALTER TABLE [dbo].[note]  WITH CHECK ADD FOREIGN KEY([event_instance_id])
REFERENCES [dbo].[event_instance] ([event_instance_id])
GO
ALTER TABLE [dbo].[note]  WITH CHECK ADD FOREIGN KEY([location_id])
REFERENCES [dbo].[location] ([location_id])
GO
ALTER TABLE [dbo].[note]  WITH CHECK ADD FOREIGN KEY([person_id])
REFERENCES [dbo].[person] ([person_id])
GO
ALTER TABLE [dbo].[note]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[app_user] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[note_tag]  WITH CHECK ADD FOREIGN KEY([note_id])
REFERENCES [dbo].[note] ([note_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[note_tag]  WITH CHECK ADD FOREIGN KEY([tag_id])
REFERENCES [dbo].[tag] ([tag_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[note_transaction]  WITH CHECK ADD  CONSTRAINT [fk_txn_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([category_id])
GO
ALTER TABLE [dbo].[note_transaction] CHECK CONSTRAINT [fk_txn_category]
GO
ALTER TABLE [dbo].[note_transaction]  WITH CHECK ADD  CONSTRAINT [fk_txn_currency] FOREIGN KEY([currency])
REFERENCES [dbo].[currency] ([code])
GO
ALTER TABLE [dbo].[note_transaction] CHECK CONSTRAINT [fk_txn_currency]
GO
ALTER TABLE [dbo].[note_transaction]  WITH CHECK ADD  CONSTRAINT [fk_txn_note] FOREIGN KEY([note_id])
REFERENCES [dbo].[note] ([note_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[note_transaction] CHECK CONSTRAINT [fk_txn_note]
GO
ALTER TABLE [dbo].[note_transaction]  WITH CHECK ADD  CONSTRAINT [fk_txn_receiver] FOREIGN KEY([receiver_person_id])
REFERENCES [dbo].[person] ([person_id])
GO
ALTER TABLE [dbo].[note_transaction] CHECK CONSTRAINT [fk_txn_receiver]
GO
ALTER TABLE [dbo].[note_transaction]  WITH CHECK ADD  CONSTRAINT [fk_txn_sender] FOREIGN KEY([sender_person_id])
REFERENCES [dbo].[person] ([person_id])
GO
ALTER TABLE [dbo].[note_transaction] CHECK CONSTRAINT [fk_txn_sender]
GO
ALTER TABLE [dbo].[person]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[app_user] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[reminder]  WITH CHECK ADD FOREIGN KEY([parent_event_instance_id])
REFERENCES [dbo].[event_instance] ([event_instance_id])
GO
ALTER TABLE [dbo].[reminder]  WITH CHECK ADD FOREIGN KEY([person_id])
REFERENCES [dbo].[person] ([person_id])
GO
ALTER TABLE [dbo].[reminder]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[app_user] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[stored_item]  WITH CHECK ADD FOREIGN KEY([location_id])
REFERENCES [dbo].[location] ([location_id])
GO
ALTER TABLE [dbo].[stored_item]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[app_user] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[timetable]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[app_user] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_settings]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[app_user] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[voice_entry]  WITH CHECK ADD FOREIGN KEY([created_note_id])
REFERENCES [dbo].[note] ([note_id])
GO
ALTER TABLE [dbo].[voice_entry]  WITH CHECK ADD FOREIGN KEY([created_reminder_id])
REFERENCES [dbo].[reminder] ([reminder_id])
GO
ALTER TABLE [dbo].[voice_entry]  WITH CHECK ADD FOREIGN KEY([created_asset_id])
REFERENCES [dbo].[asset] ([asset_id])
GO
ALTER TABLE [dbo].[voice_entry]  WITH CHECK ADD FOREIGN KEY([created_stored_item_id])
REFERENCES [dbo].[stored_item] ([stored_item_id])
GO
ALTER TABLE [dbo].[voice_entry]  WITH CHECK ADD FOREIGN KEY([created_event_instance_id])
REFERENCES [dbo].[event_instance] ([event_instance_id])
GO
ALTER TABLE [dbo].[voice_entry]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[app_user] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[zakat_nisab]  WITH CHECK ADD FOREIGN KEY([currency])
REFERENCES [dbo].[currency] ([code])
GO
ALTER TABLE [dbo].[activity_log]  WITH CHECK ADD CHECK  (([duration_minutes]>=(0)))
GO
ALTER TABLE [dbo].[activity_log]  WITH CHECK ADD CHECK  (([status]='skipped' OR [status]='partial' OR [status]='missed' OR [status]='done' OR [status]='pending'))
GO
ALTER TABLE [dbo].[activity_log]  WITH CHECK ADD  CONSTRAINT [ck_alog_source] CHECK  (([timetable_id] IS NOT NULL AND [reminder_id] IS NULL OR [timetable_id] IS NULL AND [reminder_id] IS NOT NULL))
GO
ALTER TABLE [dbo].[activity_log] CHECK CONSTRAINT [ck_alog_source]
GO
ALTER TABLE [dbo].[ai_query_log]  WITH CHECK ADD CHECK  (([input_source]='text' OR [input_source]='voice'))
GO
ALTER TABLE [dbo].[asset]  WITH CHECK ADD CHECK  (([acquisition_type]='other' OR [acquisition_type]='inherited' OR [acquisition_type]='gift_received' OR [acquisition_type]='purchased'))
GO
ALTER TABLE [dbo].[asset]  WITH CHECK ADD CHECK  (([current_value]>=(0)))
GO
ALTER TABLE [dbo].[asset]  WITH CHECK ADD CHECK  (([purchase_value]>=(0)))
GO
ALTER TABLE [dbo].[asset]  WITH CHECK ADD CHECK  (([purpose]='resale' OR [purpose]='business' OR [purpose]='personal'))
GO
ALTER TABLE [dbo].[asset]  WITH CHECK ADD CHECK  (([weight_grams]>=(0)))
GO
ALTER TABLE [dbo].[attachment]  WITH CHECK ADD CHECK  (([action_type]='other' OR [action_type]='listen' OR [action_type]='calculate' OR [action_type]='extract'))
GO
ALTER TABLE [dbo].[attachment]  WITH CHECK ADD CHECK  (([extraction_status]='skipped' OR [extraction_status]='failed' OR [extraction_status]='done' OR [extraction_status]='processing' OR [extraction_status]='pending'))
GO
ALTER TABLE [dbo].[attachment]  WITH CHECK ADD CHECK  (([file_type]='other' OR [file_type]='mp3' OR [file_type]='png' OR [file_type]='jpg' OR [file_type]='txt' OR [file_type]='csv' OR [file_type]='xlsx' OR [file_type]='docx' OR [file_type]='pdf'))
GO
ALTER TABLE [dbo].[attachment]  WITH CHECK ADD CHECK  (([file_size_kb]>=(0)))
GO
ALTER TABLE [dbo].[audio_action]  WITH CHECK ADD CHECK  (([file_size_kb]>=(0)))
GO
ALTER TABLE [dbo].[audio_action]  WITH CHECK ADD CHECK  (([playback_mode]='auto_summary' OR [playback_mode]='custom'))
GO
ALTER TABLE [dbo].[audio_action]  WITH CHECK ADD CHECK  (([repeat_type]='Monthly' OR [repeat_type]='Weekly' OR [repeat_type]='Daily' OR [repeat_type]='None'))
GO
ALTER TABLE [dbo].[audio_action]  WITH CHECK ADD  CONSTRAINT [ck_audio_ayat_range] CHECK  (([ayat_from] IS NULL OR [ayat_to] IS NULL OR [ayat_from]<=[ayat_to]))
GO
ALTER TABLE [dbo].[audio_action] CHECK CONSTRAINT [ck_audio_ayat_range]
GO
ALTER TABLE [dbo].[audio_action]  WITH CHECK ADD  CONSTRAINT [ck_audio_custom_has_file] CHECK  (([playback_mode]<>'custom' OR [file_path] IS NOT NULL))
GO
ALTER TABLE [dbo].[audio_action] CHECK CONSTRAINT [ck_audio_custom_has_file]
GO
ALTER TABLE [dbo].[event_instance]  WITH CHECK ADD CHECK  (([event_type]='other' OR [event_type]='anniversary' OR [event_type]='death' OR [event_type]='wedding' OR [event_type]='birth'))
GO
ALTER TABLE [dbo].[knowledge_triple]  WITH CHECK ADD  CONSTRAINT [chk_object_type] CHECK  (([object_type] IS NULL OR ([object_type]='date' OR [object_type]='currency' OR [object_type]='amount' OR [object_type]='action' OR [object_type]='category' OR [object_type]='note' OR [object_type]='user' OR [object_type]='stored_item' OR [object_type]='location' OR [object_type]='asset' OR [object_type]='person' OR [object_type]='event')))
GO
ALTER TABLE [dbo].[knowledge_triple] CHECK CONSTRAINT [chk_object_type]
GO
ALTER TABLE [dbo].[knowledge_triple]  WITH CHECK ADD  CONSTRAINT [chk_subject_type] CHECK  (([subject_type] IS NULL OR ([subject_type]='date' OR [subject_type]='currency' OR [subject_type]='amount' OR [subject_type]='action' OR [subject_type]='category' OR [subject_type]='note' OR [subject_type]='user' OR [subject_type]='stored_item' OR [subject_type]='location' OR [subject_type]='asset' OR [subject_type]='person' OR [subject_type]='event')))
GO
ALTER TABLE [dbo].[knowledge_triple] CHECK CONSTRAINT [chk_subject_type]
GO
ALTER TABLE [dbo].[knowledge_triple]  WITH CHECK ADD CHECK  (([confidence]>=(0) AND [confidence]<=(1)))
GO
ALTER TABLE [dbo].[note]  WITH CHECK ADD CHECK  (([input_source]='manual' OR [input_source]='voice'))
GO
ALTER TABLE [dbo].[note]  WITH CHECK ADD CHECK  (([note_type]='general' OR [note_type]='gift_received' OR [note_type]='asset' OR [note_type]='memory' OR [note_type]='event'))
GO
ALTER TABLE [dbo].[note]  WITH CHECK ADD  CONSTRAINT [ck_note_has_content] CHECK  (([title] IS NOT NULL OR [description] IS NOT NULL))
GO
ALTER TABLE [dbo].[note] CHECK CONSTRAINT [ck_note_has_content]
GO
ALTER TABLE [dbo].[note_transaction]  WITH CHECK ADD CHECK  (([amount]>=(0)))
GO
ALTER TABLE [dbo].[note_transaction]  WITH CHECK ADD  CONSTRAINT [ck_txn_parties] CHECK  ((([sender_person_id] IS NOT NULL OR [receiver_person_id] IS NOT NULL) AND isnull([sender_person_id],(0))<>isnull([receiver_person_id],(0))))
GO
ALTER TABLE [dbo].[note_transaction] CHECK CONSTRAINT [ck_txn_parties]
GO
ALTER TABLE [dbo].[predicate_vocab]  WITH CHECK ADD CHECK  (([predicate_category]='other' OR [predicate_category]='ownership' OR [predicate_category]='location' OR [predicate_category]='event' OR [predicate_category]='relation' OR [predicate_category]='transaction'))
GO
ALTER TABLE [dbo].[reminder]  WITH CHECK ADD CHECK  (([input_source]='manual' OR [input_source]='voice'))
GO
ALTER TABLE [dbo].[reminder]  WITH CHECK ADD CHECK  (([repeat_type]='Yearly' OR [repeat_type]='Monthly' OR [repeat_type]='Weekly' OR [repeat_type]='Daily' OR [repeat_type]='None'))
GO
ALTER TABLE [dbo].[stored_item]  WITH CHECK ADD CHECK  (([category]='other' OR [category]='jewellery' OR [category]='medical' OR [category]='kitchen' OR [category]='clothing' OR [category]='personal' OR [category]='electronics' OR [category]='document'))
GO
ALTER TABLE [dbo].[stored_item]  WITH CHECK ADD CHECK  (([input_source]='manual' OR [input_source]='voice'))
GO
ALTER TABLE [dbo].[stored_item]  WITH CHECK ADD  CONSTRAINT [ck_item_has_location] CHECK  (([location_id] IS NOT NULL OR [location_text] IS NOT NULL))
GO
ALTER TABLE [dbo].[stored_item] CHECK CONSTRAINT [ck_item_has_location]
GO
ALTER TABLE [dbo].[timetable]  WITH CHECK ADD CHECK  (([activity_type]='other' OR [activity_type]='religious' OR [activity_type]='meal' OR [activity_type]='exercise' OR [activity_type]='rest' OR [activity_type]='work' OR [activity_type]='study' OR [activity_type]='prayer'))
GO
ALTER TABLE [dbo].[timetable]  WITH CHECK ADD CHECK  (([priority]>=(1) AND [priority]<=(5)))
GO
ALTER TABLE [dbo].[timetable]  WITH CHECK ADD CHECK  (([recurrence]='Custom' OR [recurrence]='Weekends' OR [recurrence]='Weekdays' OR [recurrence]='Weekly' OR [recurrence]='Daily'))
GO
ALTER TABLE [dbo].[timetable]  WITH CHECK ADD  CONSTRAINT [ck_timetable_times] CHECK  (([end_time]>[start_time]))
GO
ALTER TABLE [dbo].[timetable] CHECK CONSTRAINT [ck_timetable_times]
GO
ALTER TABLE [dbo].[user_settings]  WITH CHECK ADD CHECK  (([audio_speed]>=(0.5) AND [audio_speed]<=(3.0)))
GO
ALTER TABLE [dbo].[user_settings]  WITH CHECK ADD CHECK  (([font_size]>=(10) AND [font_size]<=(32)))
GO
ALTER TABLE [dbo].[user_settings]  WITH CHECK ADD CHECK  (([theme]='high_contrast' OR [theme]='dark' OR [theme]='light'))
GO
ALTER TABLE [dbo].[voice_entry]  WITH CHECK ADD CHECK  (([intent]='unknown' OR [intent]='reminder' OR [intent]='delete' OR [intent]='update' OR [intent]='query' OR [intent]='store'))
GO
ALTER TABLE [dbo].[voice_entry]  WITH CHECK ADD CHECK  (([target_entity]='query' OR [target_entity]='timetable' OR [target_entity]='event_instance' OR [target_entity]='audio_action' OR [target_entity]='stored_item' OR [target_entity]='asset' OR [target_entity]='reminder' OR [target_entity]='note'))
GO
ALTER TABLE [dbo].[zakat_nisab]  WITH CHECK ADD CHECK  (([nisab_amount]>(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_close_missed_activities]    Script Date: 10/05/2026 11:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Close out yesterday's timetable slots: insert 'missed' rows for any
-- scheduled occurrence that has no log entry yet. Run nightly.
CREATE PROCEDURE [dbo].[sp_close_missed_activities]
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @yesterday DATE = DATEADD(DAY, -1, CAST(GETDATE() AS DATE));
    DECLARE @wkday INT = DATEPART(WEEKDAY, @yesterday);

    INSERT INTO activity_log (user_id, timetable_id, scheduled_date, scheduled_start, status)
    SELECT t.user_id, t.timetable_id, @yesterday, t.start_time, 'missed'
    FROM timetable t
    WHERE t.is_active = 1
      AND NOT EXISTS (
          SELECT 1 FROM activity_log a
          WHERE a.timetable_id = t.timetable_id
            AND a.scheduled_date = @yesterday
            AND a.scheduled_start = t.start_time
      )
      AND (
            t.recurrence = 'Daily'
         OR (t.recurrence = 'Weekdays' AND @wkday BETWEEN 2 AND 6)
         OR (t.recurrence = 'Weekends' AND @wkday IN (1, 7))
         OR (t.recurrence = 'Custom'
             AND t.days_of_week LIKE '%' + LEFT(DATENAME(WEEKDAY, @yesterday), 3) + '%')
      );

    SELECT @@ROWCOUNT AS missed_rows_inserted;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_complete_extraction]    Script Date: 10/05/2026 11:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Complete attachment extraction
CREATE PROCEDURE [dbo].[sp_complete_extraction]
    @attachment_id  INT,
    @extracted_text NVARCHAR(MAX),
    @summary        NVARCHAR(1000),
    @page_count     INT = NULL,
    @word_count     INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE attachment SET
        extraction_status = 'done',
        extracted_text    = @extracted_text,
        extracted_at      = GETDATE(),
        summary           = @summary,
        page_count        = @page_count,
        word_count        = @word_count
    WHERE attachment_id = @attachment_id;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_insert_asset]    Script Date: 10/05/2026 11:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ================================================================
-- STORED PROCEDURES
-- ================================================================

-- Insert asset with auto-derived zakat/depreciation defaults
CREATE PROCEDURE [dbo].[sp_insert_asset]
    @user_id          INT,
    @name             NVARCHAR(200),
    @category_id      INT,
    @purchase_value   DECIMAL(12,2),
    @acquisition_type NVARCHAR(20) = 'purchased',
    @purpose          NVARCHAR(20) = 'personal',
    @acquired_from    NVARCHAR(200) = NULL,
    @acquired_date    DATE = NULL,
    @weight_grams     DECIMAL(10,2) = NULL,
    @note_id          INT = NULL,
    @location_id      INT = NULL,
    @currency         CHAR(3) = 'PKR'
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @is_zakatable      BIT;
    DECLARE @depreciation_rate DECIMAL(5,4);
    DECLARE @cat_name          NVARCHAR(100);

    SELECT @cat_name          = name,
           @depreciation_rate = default_depr_rate,
           @is_zakatable      = is_zakatable
    FROM category WHERE category_id = @category_id;

    IF @cat_name = 'Vehicle' AND @purpose = 'resale'
        SET @is_zakatable = 1;

    INSERT INTO asset (
        user_id, note_id, category_id, name, acquired_from, acquired_date,
        acquisition_type, weight_grams, purchase_value, current_value,
        is_zakatable, purpose, is_tax_asset, depreciation_rate, location_id, currency
    )
    VALUES (
        @user_id, @note_id, @category_id, @name, @acquired_from,
        ISNULL(@acquired_date, CAST(GETDATE() AS DATE)),
        @acquisition_type, @weight_grams, @purchase_value, @purchase_value,
        @is_zakatable, @purpose, 1, @depreciation_rate, @location_id, @currency
    );

    SELECT SCOPE_IDENTITY() AS asset_id;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_update_depreciation]    Script Date: 10/05/2026 11:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Apply yearly depreciation (idempotent: safe to re-run within same year)
CREATE PROCEDURE [dbo].[sp_update_depreciation]
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @today DATE = CAST(GETDATE() AS DATE);

    UPDATE asset
    SET current_value       = ROUND(current_value * (1 - depreciation_rate), 2),
        last_valuation_date = @today,
        valuation_source    = 'auto_depreciation',
        updated_at          = GETDATE()
    WHERE is_tax_asset      = 1
      AND is_active         = 1
      AND depreciation_rate > 0
      AND acquired_date IS NOT NULL
      AND YEAR(acquired_date) < YEAR(@today)
      AND (last_valuation_date IS NULL
           OR YEAR(last_valuation_date) < YEAR(@today));

    SELECT @@ROWCOUNT AS assets_updated;
END;

GO
USE [master]
GO
